#/etc/systemd/system/mstd-random-restaurant.service

[Unit]
Description=Runs mstd-random-restaurant container
Requires=docker.service
Wants=mstd-random-restaurant.timer

[Service]
#Restart=always
User=root
Group=docker
WorkingDirectory=/apps/mstd-random-restaurant
# Shutdown container (if running) when unit is started
ExecStartPre=/usr/bin/docker compose -f docker-compose.yaml up --force-recreate
# Start container when unit is started
ExecStart=/usr/bin/docker compose -f docker-compose.yaml start
# Stop container when unit is stopped
ExecStop=/usr/bin/docker compose -f docker-compose.yaml stop

[Install]
WantedBy=multi-user.target

